html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  cursor: pointer;
  transition: ease 0.5s;
  background-color: rgb(251, 236, 217) !important;
  border: none !important;
}

.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(247 209 162) !important;
}

.wrapper-image {
  background: rgb(251, 236, 217);
  border-radius: 10px;
}
